# folder stuff for the local environment
/.vscode
/venvFiles
/downloads
.python-version
video_info.csv
*.db
GEMINI.md
/main/downloads
*.env
__pycache__/
*.pyc
*.csv
*.log
*.ini
*.ods

# catch the ods lock files
*.ods*

# other stuff
alembic/
*.mp3
newMain/jobs/
newMain/test.py